/* Column container */
.row {
  display: -ms-flexbox; /* IE10 */
  display: flex;
  -ms-flex-wrap: wrap; /* IE10 */
  flex-wrap: wrap;
}

/* Create two unequal columns that sits next to each other */
/* Sidebar/left column */
.side {
  -ms-flex: 30%; /* IE10 */
  flex: 30%;
  background-color: #f1f1f1;
  padding: 20px;
}

/* Main column */
.main {
  -ms-flex: 20%; /* IE10 */
  flex: 20%;
  color : white;
  background-color: black;
  padding: 120px;
}
.title
{
  text-align:center;
  color:black;
  font-size:25px;
}
.para
{
  text-align:center;
  color:black;
  font-size:15px;
}