* {
  box-sizing: border-box;
}

/* Style the body */
body {
  font-family: "Times New Roman", Times, serif;
  margin: 0;
}

/* Header/logo Title */
.header {
  padding: 250px;
  text-align: center;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("1.jpg");
  color: white;
}

/* Increase the font size of the heading */
.header h1 {
  font-size: 40px;
}

/* Sticky navbar - toggles between relative and fixed, depending on the scroll position. It is positioned relative until a given offset position is met in the viewport - then it "sticks" in place (like position:fixed). The sticky value is not supported in IE or Edge 15 and earlier versions. However, for these versions the navbar will inherit default position */
*{
  box-sizing: border-box;
}

/* Style the body */
body {
  font-family:  Helvetica, sans-serif;
  margin: 0;
}

/* Header/logo Title */
.header {
  padding: 250px;
  text-align: center;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("siva.jpg");
  color: white;
   height: 90%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

/* Increase the font size of the heading */
.header h1 {
  font-size: 60px;
}

/* Sticky navbar - toggles between relative and fixed, depending on the scroll position. It is positioned relative until a given offset position is met in the viewport - then it "sticks" in place (like position:fixed). The sticky value is not supported in IE or Edge 15 and earlier versions. However, for these versions the navbar will inherit default position */
.topnav {
  overflow: hidden;
  background-color: black;
  position: sticky;
  position: -webkit-sticky;
  top: 0;
}

/* Style the navigation bar links */
.topnav a {
  float: left;
  display: block;
  color: white;
  text-align: center;
  padding: 18px 22px;
  text-decoration: none;
}


/* Right-aligned link */
.topnav a.right {
  float: right;
}

/* Change color on hover */
.topnav a:hover {
  background-color: grey;

}
.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.sticky + .content {
  padding-top: 60px;
}


/* Active/current link */
.topnav a.active {
  background-color:black;

}
@media screen and (max-width:1000px) {
  .topnav a {
    float: none;
    display: block;
  }
}
